<template>
   {%- set left = "{{" -%}
   {%- set right = "}}" -%}
	{#- Define os atributos. -#}
	{%- for attribute in partial.getOwnedAttributes() -%}{%- if not empty(attribute.Name) -%}
		{%- if attribute.Type.Name == "span" -%}{%- set tag = "span" -%}
		{%- elseif attribute.Type.Name == "p" -%}{%- set tag = "p" -%}
		{%- elseif attribute.Type.Name == "h1" -%}{%- set tag = "h1" -%}
		{%- elseif attribute.Type.Name == "outputText" -%}{%- set tag = "h:outputText" -%}
		{%- elseif attribute.Type.Name == "panelGroup" -%}{%- set tag = "h:panelGroup" -%}
		{%- elseif attribute.Type.Name == "selectManyListbox" -%}{%- set tag = "h:selectManyListbox" -%}
		{%- else -%}{%- set tag = "<p>" -%}{%- endif -%}
		<{{ tag }} id="{{ attribute.Name }}">{{ left }} {{ attribute.Name }} {{ right }}</{{ tag }}>
	{%- endif -%}{%- endfor -%}
	{% if partialProperties.get("hasMethod") %}
	{% for metodoInvocado in partialProperties.get("invocatedMethodsNames") %}
	<button @click="{{metodoInvocado}}">{{metodoInvocado}}</button>
	{% endfor %}
	{% endif %}
{#- Define o formulário. -#}
   {% for form in forms %}
        {%- for relationship in form.getSourceDirectedRelationships() -%}
        	{%- for obj in relationship.getSuppliers() -%}
        		{%- if obj.getPageTagLib is not defined -%}
    			    {%- set controllerName = lower_first(obj.getName()) -%}
        		{%- endif -%}
        	{%- endfor -%}
        {%- endfor -%}
		{% for attribute in form.Attributes %}
			{%- if attribute.Type.Name == "input[text]" -%}{%- set tag = 'input type="text"' -%}
			{%- elseif attribute.Type.Name == "outputLink" -%}{%- set tag = "h:outputLink" -%}
			{%- else -%}{%- set tag = "nao_definido" -%}{%- endif -%}
			<{{ tag }} id="{{ attribute.Name }}" v-model="{{ left }} {{ attribute.Name }} {{ right }}" />
		{% endfor %}
    {% endfor %}
	{% if partialProperties.get("hasMethodForm") %}
	{% for metodoInvocado in partialProperties.get("invocatedMethodsNames") %}
	<input type="submit" :value="{{metodoInvocado}}" @click="{{metodoInvocado}}" />
	{% endfor %}
	{% endif %}
    {#- Define os partials referenciados. -#}
	{% for refPartial in referencedPartials %}
	{% if refPartial.UpperBound == 1 %}
	<{{ refPartial.NameDash }} />
	{% elseif refPartial.UpperBound < 0 %}
	<{{refPartial.NameDash}} v-for="(nota, ch) in notas" :key="ch" :nota="nota" />
	{% else %}
		{% for i in [1..refPartial.UpperBound] %}
		<{{ refPartial.NameDash }} />
		{% endfor %}
	{% endif %}

	{%- endfor -%}
	{#- Fim de partials referenciados. -#}
</template>

<script>
export default {
    name: '{{ partialProperties.get("partialNameDash") }}',
	data: 
	{
		{% for attribute in partialProperties.get("FrontControllerClass").getAttributes() %}{{ attribute.Name }} : {{ attribute.Type.Name }}{% if loop.last == false %}, {% endif %}{% endfor %}
	},	
	methods:
	{		
		{% for method in partialProperties.get("methodsController") %}
		{{ method.Name }}({% for parameter in method.OwnedParameters %}{{ parameter.Type.Name }} {{ parameter.Name }}{% if loop.last == false %}, {% endif %}{% endfor %}) 
		{
			//TODO To be implemented
		}{% if loop.last == false %}, {% endif %}
		{% endfor %}
	}
}
</script>
